#edit_form {
    width: 70%;
    margin: 5% auto;
    padding: 5% 10%;
    background: #f5f5f5;
    -webkit-box-shadow: 10px 10px 6px -6px #777;
    -moz-box-shadow: 10px 10px 6px -6px #777;
    box-shadow: 10px 10px 6px -6px #777;
}

h3 {
    margin: 10px 0;
}

.language {
    margin: 5px 0;
}

.submit {
    margin-top: 10px;
}

.form-control {
    font-size: 1.0em;
}

.language {
    margin: 10px, 0;
}

@media screen and (max-width: 767px){
    #edit_form {
        width: 100%;
    }
}